<h2>My Heroes</h2>

<div *ngIf="this.heroes.length === 0">
  <button (click)="this.setMockData()">input mock data</button>
  >>
  <button (click)='this.getHeroes()'>get heroes</button>
</div>

<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <a routerLink='/detail/{{hero.id}}'>
      <span class="badge">{{hero.id}}</span>
      <img class="heroimage" src="{{this.util.thumbnail(hero.imageUrl)}}" *ngIf="hero.imageUrl"
        data-max-retry="2" data-retry="0" (error)="this.util.waitAndReload($event)">
        {{hero.name}}
    </a>
    <button class="delete" title="delete hero"
      (click)="delete(hero)">x</button>
  </li>
</ul>

<div>
  <label>Hero name:
    <input #heroName>
  </label>
  <button [disabled]="this.isHeroImageUpload" (click)='this.add(heroName.value); heroName.value=""'>
    add
  </button>
  <input #heroImage type="checkbox"
    (change)='this.isHeroImageUpload = heroImage.checked'>with hero image
</div>
<div>
  <!-- TODO : heroName이 빈칸 체크 후 이미지 업로드 방법? custom component 쉽게 조작요령? -->
  <app-attachment-upload *ngIf="this.isHeroImageUpload"
  [__UploadLabel__]='"upload & add"'
  [__FileAccept__]='"image/gif, image/jpeg, image/png"'
  (__UploadComplete__)='this.uploadCompleteCallback($event,this.heroName.value); this.heroName.value=""'></app-attachment-upload>
</div>
